# Fichiers sensibles
.env
A_directory_structure.txt
architecture.py
client_secret_*.json

# Dépendances
node_modules/

# Données temporaires / internes
logs/
monitoring_data/
user_preferences/
profiles/
run/
cache/
browser_data/
debug/
scripts/
sanityCheck/

# Autres fichiers à éviter
*.log
*.pid
*.zip
*.bak
